# -----------------------------
# Python
# -----------------------------
__pycache__
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo

# Cython
*.so

# Virtual environments
.venv/
env/
venv/
ENV/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytest_cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# -----------------------------
# IDEs / editors
# -----------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Logs
*.log

# Data files
*.sqlite3
*.db
